{{template "header" .}}


<div id="content" class="ui text container">
  <h2>Step 1: Validate an Oauth access token from Okta</h2>

{{if .IsAuthenticated}}
  <div>
  <script>
  function copy() {
    let textarea = document.getElementById("textarea");
    textarea.select();
    document.execCommand("copy");
  }
  </script>

    <p>The expiration time of your access token is:</p>
    <p><textarea id="expvalidation" rows="1" cols="60">{{.ExpValidation}}</textarea></p>

    <p>The public key to perform signature validation is:</p>
    <p><textarea id="Pkey" rows="6" cols="100">{{.PublicKey}}</textarea></p>

    <p>The signature validation result of your access token is:</p>
    <p><textarea id="sigvalidation" rows="1" cols="60">{{.SigValidation}}</textarea></p>

    <p><br></p>
    <p><button onclick="copy()">Copy Token</button><button onclick="location.href='http://192.168.0.5:8080/step2a'">Next: Decode Token</button></p>
    <p>You have successfully authenticated against your Okta org, and have been redirected back to this application.</p>
    <p>Visit the <a href="profile">My Profile</a> page in this application to view the information
      retrieved with your OAuth Access Token.</p>
  </div>
  {{else}}
  <div>
    <p>Hello!</p>
    <p>If you're viewing this page then you have successfully configured and started this example server.</p>
    <p>This example shows you how to to add the <a href="https://developer.okta.com/authentication-guide/implementing-authentication/auth-code.html">Authorization Code Flow</a> to your
      Golang application.</p>
    <p>When you click the login button below, you will be redirected to the login page on your Okta org.  After you authenticate, you will be returned to this application.</p>
  </div>

  <form method="get" action="login">
    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
  </form>
  {{end}}



</div>
{{template "footer"}}
